{{ define "main" }}

		<div class="row">
			<div class="col-md-6">
				{{ $imageTest := .Params.mainImage }}
				{{ $src := .Resources.GetMatch (.Params.mainImage)  }}
				
				{{ $tinyw := default "500x" }}
				{{ $smallw := default "800x" }}
				{{ $mediumw := default "1200x" }}
				{{ $largew := default "1500x" }}

				{{/* resize the src image to the given sizes */}}

				{{ .Scratch.Set "tiny" ($src.Resize $tinyw) }}
				{{ .Scratch.Set "small" ($src.Resize $smallw) }}
				{{ .Scratch.Set "medium" ($src.Resize $mediumw) }}
				{{ .Scratch.Set "large" ($src.Resize $largew) }}

				{{/* add the processed images to the scratch */}}

				{{ $tiny := .Scratch.Get "tiny" }}
				{{ $small := .Scratch.Get "small" }}
				{{ $medium := .Scratch.Get "medium" }}
				{{ $large := .Scratch.Get "large" }}


				<picture>
					<source srcset="{{$tiny.RelPermalink }}" media="(max-width:500px)">
					<source srcset="{{$small.RelPermalink }}" media="(max-width:800px)">
					<source srcset="{{$medium.RelPermalink }}" media="(max-width:1200px)">
					<img src="{{$tiny.RelPermalink }}" alt="{{ .Title }}" loading="lazy" />
				</picture>
			</div>

			<div class="col-md-6">
				<h1>{{ .Title }}</h1>
				<p>{{ .Params.mainDescription }}</p>

				<div class="recipe-summary">
					<table>
						<tr>
							<th style="text-align:left; padding:8px 0px">Difficulty</th>
							<td style="padding-left:20px;">{{ .Params.Difficulty}}</td>
						</tr>
						<tr>
							<th style="text-align:left; padding:8px 0px">Prep</th>
							<td style="padding-left:20px;">{{ .Params.prepTime }} Mins</td>
						</tr>
						<tr>
							<th style="text-align:left; padding:8px 0px">Serves</th>
							<td style="padding-left:20px;">{{ .Params.Servings}}</td>
						</tr>
					</table>
				</div>
				<div>
					<h2>Ingredients</h2>
					<ul class="standard-list">
						{{ range .Params.ingredients}}
							<li>{{.}}</li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div>
					<h2>Nutrition</h2>
					<table>
						{{ range $key, $value := .Params.nutrition}}
						<tr>
							<th style="text-align:left; padding:8px 0px">{{title $key}}<th>
							<td style="padding-left:20px;">{{ $value }}</td>
						</tr>
						{{ end }}
					</table>
				</div>
				<div>
					<h2>How To Make</h2>
					<ul>
					{{ range .Params.steps}}
						<li>
							<h3>Step {{ .step }}</h3>
							<p>{{ .stepDescription }}</p>
						</li>
					{{ end }}
					</ul>
				</div>
			</div>

			<div class="col-md-6">
				<h2>You Might Also Like</h2>
				<div class="row">
				    {{ range first 4 (where .Site.RegularPages "Section" "recipes") }}
				        <div class="col-xs-6 col-sm-6 marb_d">
				        	<a href="{{.Permalink}}">
				        		<img src="/images/smoothie-image.png" class="marb_h" loading="lazy" />
				        	</a>
				            <a href="{{.Permalink}}">{{.Title}}</a>
				        </div>
				    {{ end }}
				</div>
			</div>
		</div>
{{ end }}